/* Everything is a box   
* {
    border: 2px solid red;
  } 

*/

.header  {
  font-family: monospace;
  background: papayawhip;
  justify-content: space-between;
  padding: 8px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  justify-items: center;
  align-items: center;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  padding: 0px;

}

li {
  margin: 0 10px;
}

.left-links {
  margin-left: -10px;
}

.right-links {
  margin-right: -10px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
